<HTML>
<head>
<title>Willy Sandi Harsono</title>
</head>
<body bgcolor="black">
{% load static %}
<link rel="stylesheet" href={% static "Lab4/Bootstrap.css" %}>
<link rel="stylesheet" href={% static "Lab4/Style.css" %}>
    <nav class="fixed-top">
        <table class="headerTable">
			<tr>
			<td class ="headerIcon"><a href="/Lab4/"><img src ={% static "Lab4/Untitled-2.png" %} class="headerIcon">
			<td class ="headerLeft"><a href="/Lab4/">Home</td>
			<td class ="header"><a href="/Lab4/about/">Links</td>
			<tr>
		</table>
    </nav>
<table>
	<tr>
		<td><img class="width100" src={% static "Lab4/Capture.jpg" %}>
</table>
<table class="padding10">
	<tr>
		<td><img class="padding10" src={% static "Lab4/pZZdrNT.jpg" %}>
		<td>
			<article class="padding10">
			<p class="white">
				I’m Willy, a 19-years old student at University of Indonesia,
				majoring in computer science. My goal is balance between my
				studies and my organization. Right now i’m at my third 
				Semester in my studies of computer science. Over the past year, I
				have realized that I would not be able to get to this point
				without my colleagues. As for my organization skills concerned, 
				I have been the staff of logistic department in University of 
				Indonesia’s symphonic orchestra and had been the logistic
				division head for a concert on last January
			</article>
</table>
<table class="bgWhite">
	<tr>
		<td class="skillSet" colspan=12>My Education :
	<tr>
		<td class="education" colspan=4><center><img class="icon" src={% static "Lab4/serviam.jpg" %}>
				<p class="orangeSmall">Santa Maria Elementary School<br>2006-2012
		<td class="education" colspan=4><center><img class="icon" src={% static "Lab4/download.png" %}>
				<p class="orangeSmall">Canisius College High School<br>2012-2018
		<td class="education" colspan=4><center><img class="icon" src={% static "Lab4/makara.png" %}>
				<p class="orangeSmall">
				University of Indonesia's Faculty of Computer Science<br>2018-Now
	<tr>
		<td class="skillSet" colspan=12>My Skills :
	<tr>
		<td class="skills" colspan=3><center><img class="icon" src={% static "Lab4/cpp.png" %}>
				<p class="orangeSmall">C++
		<td class="skills" colspan=3><center><img class="icon" src={% static "Lab4/python.png" %}>
				<p class="orangeSmall">Python
		<td class="skills" colspan=3><center><img class="icon" src={% static "Lab4/pascal.gif" %}>
				<p class="orangeSmall">Pascal
		<td class="skills" colspan=3><center><img class="icon" src={% static "Lab4/java.png" %}>
				<p class="orangeSmall">Java
</table>
<table>
	<tr>
		<td class="footerImage"><img class="contact" src ={% static "Lab4/gmail.png" %}>
		<td class="footerText"><font face="Cambria" size=4 color="white">willy.sandi@ui.ac.id
		<td class="footerImage"><img class="contact" src={% static "Lab4/line.png" %}>
		<td class="footerTexxtt"><font face="Cambria" size=4 color="white">Willy S 
</body>
</HTML>