 <HTML>
<head>
<title>Willy Sandi Harsono</title>
</head>
{% load static %}
<link rel="stylesheet" href={% static "Lab4/Bootstrap.css" %}>
<link rel="stylesheet" href={% static "Lab4/Style.css" %}>
    <nav class="fixed-top">
        <table class="headerTable">
			<tr>
			<td class ="headerIcon"><a href="/Lab4/"><img src ={% static "Lab4/Untitled-2.png" %} class="headerIcon">
			<td class ="headerLeft"><a href="/Lab4/">Home</td>
			<td class ="header"><a href="/Lab4/about/">Links</td>
			<tr>
		</table>
    </nav>
    <main role="main">
	<img class="width100 paddingv10" src={% static "Lab4/Capture.jpg" %}>
		  
          <div class="carousel-item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src={% static "Lab4/UI-web.jpg" %} alt="Generic placeholder image" width="140" height="140">
            <h2>My University</h2>
            <p>Universitas Indonesia adalah kampus modern, komprehensif, terbuka, multi budaya, dan humanis yang mencakup disiplin ilmu yang luas. UI saat ini secara simultan selalu berusaha menjadi salah satu universitas riset atau institusi akademik terkemuka di dunia.</p>
            <p><a class="btn btn-secondary" href="https://www.ui.ac.id/" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src={% static "Lab4/logoOsui.jpg" %} alt="Generic placeholder image" width="140" height="140">
            <h2>My Organization</h2>
            <p>Orkes Simfoni Universitas Indonesia atau OSUI Mahawaditra adalah orkes simfoni yang didirikan di Universitas Indonesia dan tergabung dalam Unit Kegiatan Mahasiswa di lingkungan Universitas Indonesia.</p>
            <p><a class="btn btn-secondary" href="https://mahawaditra.ui.ac.id" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src={% static "Lab4/biruMerah.jpg" %} alt="Generic placeholder image" width="140" height="140">
            <h2>My Faculty</h2>
            <p>Fakultas Ilmu Komputer Universitas Indonesia atau disingkat Fasilkom UI adalah salah satu fakultas Rumpun Ilmu Sains dan Teknologi. Fasilkom UI mengelola program pendidikan jenjang dengan gelar sarjana (S1), magister (S2), dan doktor (S3) serta program pelatihan non-gelar.</p>
            <p><a class="btn btn-secondary" href="https://www.cs.ui.ac.id/?lang=en" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
	
    </main>
	<table>
	<tr>
		<td class="footerImage"><img class="contact" src ={% static "Lab4/gmail.png" %}>
		<td class="footerText"><font face="Cambria" size=4 color="white">willy.sandi@ui.ac.id
		<td class="footerImage"><img class="contact" src={% static "Lab4/line.png" %}>
		<td class="footerTexxtt"><font face="Cambria" size=4 color="white">Willy S 
	</body>
</HTML>