.icon
	{
        height: 200px;
    }
	
.contact
	{
        height: 60px;
		background-color:black;
    }
.header
	{
        height: 75px;
		background-color:black;
		font-family:Muli;
		font-size:30px;
		color:#FF9600;
		height:100%;
		width:25%;
    }
.headerIcon
	{
        height:75px;
		background-color:black;
		width:75px;
    }
.white
	{
		color:white;
	}
.orangeSmall
	{
		color:#FF9600;
		font-size:18px;
	}
.bgWhite
	{
		background-color:white;
	}
.padding10
	{
		padding:10%;
	}
.paddingv10
	{
		padding-bottom:10%;
		
	}
.headerTable
	{
		height:75px;
	}
.education
	{
		width:33%;
	}
.pad
	{
		width:5%;
	}
.skills
	{
		width:25%;
	}	
.width100
	{
		width:100%;
	}
.headerLeft
	{
        height: 75px;
		background-color:black;
		font-family:Muli;
		font-size:30px;
		color:#FF9600;
		height:100%;
		width:50%;
    }
.skillSet
	{
		font-family:Cambria;
		font-size:54px;
		color:black;
    }
.footerImage
	{
		text-align: right;
	}
.footerText
	{
		text-align: left;
	}
p
	{
		font-family:Cambria;
		font-size:24px;
		color:#FF9600;
	}
a
	{
		text-decoration:none;
		color:#FF9600;
	}
table
	{
		width:100%;
		background-color:black;
	}	